.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  text-overflow: ellipsis;
  color: black;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 300px;
  height: 350px;
  background-color: whitesmoke;
  opacity: 80%;
}

.card:hover,
.card:focus,
.card:active {
  color: #e100ff;
  border-color: #fd5e5e;
  opacity: 100%;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  font-weight: bolder;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1500px;
}
